body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.mainClass{
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.life{
    position: absolute;
    top: 30%;
    left: 35%;
}
.lifeComputer{
    position: absolute;
    top: 42.5%;
    left: 72.5%;
}